<footer>
  <div class="container">
    <ul>
      <li>Powered by <a href="https://codeberg.org/snaums/mvoCI">mvoCI (My Very Own CI)</a> {{ app_version }}</li>
      <li><a href="{{ if eq (config "Author.Link") "" }}{{ siteurl }}impress{{ else }}{{ config "Author.Link" }}{{end}}">Impress</a></li>
      {{ if eq (config "PublicEnable") "true" }}
        <li><a href="{{siteurl}}public">Public Repositories</a></li>
      {{ end }}
    </ul>
  </div>
</footer>
