{{/*
{{ if ne http_base ""}}
<!-- <base href="{{ ctx.Scheme() + "://" + ctx.Request().Host }}{{ siteurl }}"> -->
<base href="{{ http_base }}">
{{ end }}
*/}}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" href="{{ siteurl }}static/css/style.css" />
<link rel="stylesheet" href="{{ siteurl }}static/css/roboto-condensed.css" />
<link rel="stylesheet" href="{{ siteurl }}static/css/fontello.css" />
<link rel="icon" type="image/x-icon" href="{{ siteurl }}static/img/favicon.png" />
<script src="{{ siteurl }}static/js/build.js"></script>
<script>
    window.mvoConfig = {
        LiveLog: '{{ config_html "Build.LiveLog" }}',
        AppSubUrl: '{{ siteurl }}'
    };
</script>
{{ block "headext" . }}{{ end }}
