<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ template "title" . }} | {{ app_title }}</title>
    {{ include "layouts/head" }}
  </head>
  <body>
    <header>
      {{ include "layouts/nav" }}
      <div class="breadcrumbs">
        <ul class="breadcrumbs">
          {{ template "breadcrumbs" . }}
        </ul>
      </div>
    </header>
    <main>
      <div class="container">
        <ul class="toolbar">{{ template "toolbar" . }}</ul>
        <div>
        {{ template "content" . }}
        </div>
      </div>
    </main>
    {{ include "layouts/footer" }}
  </body>
</html>
