<nav>
<div class="brand">
  <a href="{{ siteurl }}dashboard">
    <img src="{{ siteurl }}static/img/logo.svg" alt="logo"/>
    {{ app_title }}
  </a>
</div>
{{ if .user }}
  <button class="collapse-button">
    <i class="fa fa-bars"></i>
  </button>
  <ul>
    <li class="{{ if eq .navPage "dashboard"}}active{{end}}">
      <a href="{{ siteurl }}dashboard">Dashboard</a>
    </li>
    <li class="{{ if eq .navPage "repo"}}active{{end}}">
      <a href="{{ siteurl }}repo">Repositories</a>
    </li>
    <li class="{{ if eq .navPage "integration"}}active{{end}}">
      <a href="{{ siteurl }}integration">Integration</a>
    </li>
    {{ if .user.Superuser }}
      <li class="{{ if eq .navPage "user"}}active{{end}}">
        <a href="{{ siteurl }}user">Users</a>
      </li>
      <li class="{{ if eq .navPage "admin"}}active{{end}}">
        <a href="{{ siteurl }}admin/info">Admin</a>
      </li>
    {{ end }}
    <li class="{{ if eq .navPage "profile"}}active{{end}}">
      <a href="{{ siteurl }}user/me">{{ .user.Name }}</a>
    </li>
    <li>
      <a href="{{ siteurl }}logout"><i class="fa fa-sign-out"></i>Logout</a>
    </li>
  </ul>
{{ else }}
  {{ if eq (config "PublicEnable") "true" }}
  <ul>
    <li class="{{ if eq .navPage "login"}}active{{end}}">
      <a href="{{ siteurl }}login">Login</a>
    </li>
    <li class="{{ if eq .navPage "public"}}active{{end}}">
      <a href="{{ siteurl }}public">Public Repositories</a>
    </li>
  </ul>
  {{ end }}
{{ end }}
</nav>

