{{ define "title" }}Vacuum Actions{{ end }}

{{ define "breadcrumbs" }}
  <li><a href="{{ siteurl }}admin/info">Admin</a></li>
  <li>Vacuum Actions</li>
{{ end }}

{{ define "toolbar" }}
  {{ include "admin_toolbar" }}
{{ end }}

{{ define "content" }}
<h2>Vacuum Actions</h2>
    {{ range .actions }}
    <div class="block-link">
        <span class="block">
          <span class="left-side">
            <span class="block-item block-icon">
                <i class="fa fa-wrench-circled"></i>
            </span>
            <span class="block-item">
              <span class="block-top-item">
                  {{ .Label }}
              </span>
              <span class="block-bottom-item block-fa">
                  {{ .Description }}
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item dashboard-icons">
                <a href="{{ siteurl }}admin/vacuum/{{ .Url }}" title="{{ .Label }}" class="fa fa-rocket"></a>
            </span>
          </span>
        </span>
      </div>
    {{ else }}
    <div class="messages info">
      <span class="icon">
        <i class="fa fa-info-circle"></i>
      </span>
      <div>No actions found.</div>
    </div>
    {{ end }}
{{ end }}
