{{ define "title" }}Eventloop Tests{{ end }}

{{ define "breadcrumbs" }}
  <li><a href="{{ siteurl }}admin/info">Admin</a></li>
  <li>Eventloop-Tests</li>
{{ end }}

{{ define "toolbar" }}
  {{ include "admin_toolbar" }}
{{ end }}

{{ define "content" }}
<h2>Eventloop</h2>
<a href="{{ siteurl }}admin/eventloop/sendTest" class="button">Send Test Event</a>
<a href="{{ siteurl }}admin/eventloop/sendNightlyBuild" class="button">Send Nightly Build Event</a>
{{ end }}
