{{ define "title" }}Authorization{{ end }}

{{ define "breadcrumbs" }}
  <li><a href="{{ siteurl }}admin/info">Admin</a></li>
  <li>Auth</li>
{{ end }}

{{ define "toolbar" }}
  {{ include "admin_toolbar" }}
{{ end }}

{{ define "content" }}
<h2>Auth</h2>
  {{ range $i, $p := .provider }} 
  <h3>{{$p.HumanName}}</h3>
  <small>{{$p.Description}}</small>
    {{ if $p.Cap.Instantiable }}
      <a class="button" href="{{ siteurl }}admin/auth/instance/new/{{.Name}}">Create Instance</a>
    {{ end }}
  {{ end }}
    TODO
{{ end }}
