{{ define "title" }}Info{{ end }}

{{ define "breadcrumbs" }}
  <li><a href="{{ siteurl }}admin/info">Admin</a></li>
  <li>Mail-Settings</li>
{{ end }}

{{ define "toolbar" }}
  {{ include "admin_toolbar" }}
{{ end }}

{{ define "content" }}
<h2>Mail-Settings</h2>
{{ render_error_list .errors }}
  <div class="infobox">
    This page helps you configure a mail server through which mvoCI can send Emails.
    mvoCI will send Emails when builds finish for repositories which have that feature enabled.
    Also Email-Second-Factor-Auth uses these settings.
    The password will be stored encrypted, but it this account should still not be an important one.
  </div>
  <form method="post" action="{{ siteurl }}admin/mail">
    <div class="field required">
        <label for="email_host">Host</label>
        <input type="text" id="email_host" name="email_host" value="{{ config "Email.Host" }}" placeholder="smtp.example.org" />
    </div>
    <div class="field required">
        <label for="email_port">Port</label>
        <input type="text" id="email_port" name="email_port" value="{{ config "Email.Port" }}" placeholder="587" />
    </div>
    <div class="field required">
        <label for="email_from">From (mail address)</label>
        <input type="text" id="email_from" name="email_from" value="{{ config "Email.From" }}" placeholder="mvoCI <mvoci@example.org>" />
    </div>
    <div class="field required">
        <label for="email_username">Username</label>
        <input type="text" id="email_username" name="email_username" value="{{ config "Email.Username" }}" placeholder="username" />
    </div>
    <div class="field required">
        <label for="email_password">Password</label>
        <input type="password" id="email_password" name="email_password" placeholder="password" />
    </div>
    <button class="btn-primary">Update</button> <a href="{{ siteurl }}admin/mail/reset" title="Reset Mail Settings" class="btn btn-danger">Reset</a>
  </form>
{{ end }}
