{{ define "title" }}Info{{ end }}

{{ define "breadcrumbs" }}
  <li><a href="{{ siteurl }}admin/info">Admin</a></li>
  <li>Info</li>
{{ end }}

{{ define "toolbar" }}
  {{ include "admin_toolbar" }}
{{ end }}

{{ define "content" }}
<h2>Information</h2>
  {{ range .Versions }} 
    <h3>{{.Name}}</h3>

    <ul>
      {{ range .Versions }}
        <li>{{.Title}}: {{ .Value }}</li>
      {{ end }}
    </ul>
  {{ end }}

{{ end }}
