  <li>
    <a href="{{ siteurl }}admin/webhooklog">
      <i class="fa fa-clipboard"></i>Webhook-Logs
    </a>
  </li>
  <li>
    <a href="{{ siteurl }}admin/vacuum">
      <i class="fa fa-wrench-circled"></i>Vacuum
    </a>
  </li>
  <li>
    <a href="{{ siteurl }}admin/mail">
      <i class="fa fa-mail-alt"></i>Mail
    </a>
  </li>
  <li>
    <a href="{{ siteurl }}admin/auth">
      <i class="fa fa-user"></i>Auth
    </a>
  </li>
  <li>
    <a href="{{ siteurl }}admin/eventloop">
      <i class="fa fa-info-circle"></i>Event
    </a>
  </li>
  <li>
    <a href="{{ siteurl }}admin/info">
      <i class="fa fa-info-circle"></i>Info
    </a>
  </li>
