{{ define "title"}}Build for {{ .repo.Name }}{{end}}

{{ define "breadcrumbs" }}
<li><a href="{{siteurl}}repo">Repositories</a></li>
<li><a href="{{siteurl}}repo/view/{{.repo.ID}}">{{ .repo.Name }}</a></li>
{{ if gt .build.ParentID 0 }}
<li><a href="{{siteurl}}build/{{.build.ParentID}}">Parent Build</a></li>
{{ end }}
<li>Build {{ .build.Name }}</li>
{{ end }}

{{ define "toolbar" }}
    <li>
      <a href="{{ siteurl }}repo/view/{{ .repo.ID }}">
        <i class="fa fa-hdd"></i>{{ .repo.Name }}
      </a>
    </li>
    {{ if aclCheck .acl "AclView" }}
        {{ if eq .build.Status "finished" "failed" }}
        <li>
            <a href="{{ siteurl }}build/log/{{ .build.ID }}" target="_blank"><i class="fa fa-th-list"></i>View Log</a>
        </li>
        {{ end }}
        {{ if gt .build.NumTotal 0 }}
            <li>
                <a href="{{siteurl}}repo/tests/{{ .repo.ID }}/run/{{ .build.ID}}"><i class="fa fa-list-alt"></i>Tests</a>
            </li>
        {{ else }}
            <li>
                <a href="#" class="deactivated"><i class="fa fa-times"></i>No Tests</a>
            </li>
        {{ end }}
    {{ end }}
    {{ if aclCheck .acl "AclView" }}
        {{ if eq .build.Status "finished" }}
            {{ if eq .build.Zip "" }}
            <li>
                <a href="#" class="deactivated"><i class="fa fa-times"></i>No Artifacts</a>
            </li>
                {{ else }}
            <li>
                <a href="{{ siteurl }}zip/{{ .build.Zip }}" target="_blank"><i class="fa fa-download"></i>Artifacts</a>
            </li>
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if aclCheck .acl "AclExecute" }}
        {{ if eq .build.Status "finished" "failed" }}
        <li>
            <a href="{{ siteurl }}build/rebuild/{{ .build.ID }}"><i class="fa fa-refresh"></i>Rebuild</a>
        </li>
        {{ end }}
    {{ end }}
    {{ if aclCheck .acl "AclDelete" }}
    <li>
        <a href="{{ siteurl }}build/delete/{{ .build.ID }}"><i class="fa fa-trash"></i>Delete Build</a>
    </li>
    {{ end }}
{{ end }}

{{ define "content" }}
{{ if and (eq (config "Build.RefreshPage") "true" ) (eq .unfinished true) }}
<script>
document.addEventListener("DOMContentLoaded", function(event) {
    build_refresh ( {{ .build.ID }}, {{ config "Build.RefreshInterval" }});
});
</script>
{{ end }}
<h2>Build {{.build.Name}}</h2>
  <dl class="attr_larger">
    <dt>Built on</dt>
    <dd>{{ .build.Event }}</dd>
    <dt>Commit-Author</dt>
    <dd>{{ .build.CommitAuthor }}</dd>
    <dt>Commit-Message</dt>
    <dd class="commit-message">{{ .build.CommitMessage }}</dd>
    {{ if eq .build.CommitUrl "" }}{{ else }}
    <dt>View Changes</dt>
    <dd><a href="{{ .build.CommitUrl }}" target="_blank" title="View Changes">View Changes</a></dd>
    {{ end }}
    {{ if gt .build.ParentID 0 }}
    <dt>Parent Build</dt>
    <dd><a href="{{ siteurl }}build/{{ .build.ParentID }}" title="Parent Build"><i class="fa fa-chevron-left"></i> View Parent</a></dd>
    {{ end }}
    <dt>MD5</dt>
    <dd>{{ .build.Md5 }}</dd>
    <dt>SHA1</dt>
    <dd>{{ .build.Sha1 }}</dd>
  </dl>

  <span class="block">
    <span class="left-side">
    <span class="block-item block-icon">
        {{ build_status .build.Status }}
    </span>
    <span class="block-item">
      <span class="block-top-item">
          <b>{{ .repo.Name }}</b> &gt;&gt; {{ .build.Branch }}
      </span>
      <span class="block-bottom-item commit-message">
        {{ .build.CommitSha }}
      </span>
    </span>
    </span>
    <span class="right-side">
      <span class="block-item">
        <span class="block-top-item block-fa">
          <i class="fa fa-calendar-o"></i>{{ render_time .build.StartedAt }}
        </span>
        <span class="block-bottom-item block-fa">
          <i class="fa fa-clock-o"></i>{{ if or (eq .build.Status "failed") (eq .build.Status "finished") }}{{ .build.Duration }}{{ end }}
        </span>
      </span>
      <span class="block-item dashboard-icons">
        {{ if gt .build.NumTotal 0 }}
        <a href="{{ siteurl }}repo/tests/{{ .build.RepositoryID}}/run/{{.build.ID}}" title="View Tests" class="fa fa-list-alt test-state-{{ call $.render_test_state .build }}"></a>
        {{ end }}
        {{ if eq .build.Zip "" }}{{ else }}
          <a href="{{ siteurl }}zip/{{ .build.Zip }}" title="Download ZIP" class="fa fa-download"></a>
        {{ end }}
      </span>
    </span>
    {{ if gt .build.NumTotal 0 }}
      <div class="block-color-line test-data" title="{{ .build.NumSuccess }} / {{ .build.NumTotal }} Tests succeeded" style="background: {{ call $.create_linear_gradient .build }}"></div>
    {{ end }}
  </span>

  {{ if gt (len .children) 0  }}
  <h3>Sub-Builds/Variants</h3>

  {{ range .children }}
  <span class="block">
    <span class="left-side">
    <span class="block-item block-icon">
        {{ build_status .Status }}
    </span>
    <span class="block-item">
      <span class="block-top-item">
          <b>{{ if eq .Name "" }}{{ $.repo.Name }}{{else }}{{ .Name }}{{end}}</b> &gt;&gt; {{ .Branch }}
      </span>
      <span class="block-bottom-item commit-message">
        {{ .CommitSha }}
      </span>
    </span>
    </span>
    <span class="right-side">
      <span class="block-item">
        <span class="block-top-item block-fa">
          <i class="fa fa-calendar-o"></i>{{ render_time .StartedAt }}
        </span>
        <span class="block-bottom-item block-fa">
          <i class="fa fa-clock-o"></i>{{ if or (eq .Status "failed") (eq .Status "finished") }}{{ .Duration }}{{ end }}
        </span>
      </span>
      <span class="block-item dashboard-icons">
        {{ if gt .NumTotal 0 }}
        <a href="{{ siteurl }}repo/tests/{{ .RepositoryID}}/run/{{.ID}}" title="View Tests" class="fa fa-list-alt test-state-{{ call $.render_test_state . }}"></a>
        {{ end }}
        {{ if eq .Zip "" }}{{ else }}
          <a href="{{ siteurl }}zip/{{ .Zip }}" title="Download ZIP" class="fa fa-download"></a>
        {{ end }}
          <a href="{{ siteurl }}build/{{ .ID }}" title="View Build" class="fa fa-chevron-right"></a>
      </span>
    </span>
    {{ if gt .NumTotal 0 }}
      <div class="block-color-line test-data" title="{{ .NumSuccess }} / {{ .NumTotal }} Tests succeeded" style="background: {{ call $.create_linear_gradient . }}"></div>
    {{ end }}
  </span>
  {{ end }}
  {{ end }}

  {{ if eq .build.Status "queued" }}{{ else }}
    <div id="build-buttonbar" class="buttonbar">
      <a href="{{ siteurl }}build/log/{{ .build.ID }}" target="_blank" class="button widescreen-button"><i class="fa fa-th-list"></i>View Log</a>
    </div>
    <h3 id="build_log_h3">Build Log</h3>
    {{ if eq .build.Log "" }}
      <div class="messages error">
        <span class="icon">
          <i class="fa fa-exclamation-triangle"></i>
        </span>
        <div>Build log missing.</div>
        <pre class="build-log"><code>{{ .build.Log }}</code></pre>
      </div>
    {{ else }}
      <script src="{{ siteurl }}static/js/ansi_escape.js"></script>
      <pre class="build-log"><code>{{ .build.Log }}</code></pre>
      <script>
        var elem = document.getElementsByClassName ( "build-log" )[0];
        var build_log_original = elem.innerText;
        var header_elem = document.getElementById ( "build-buttonbar" );
        var build_log_escaped = false;

        var build_log_ansi_escape = function ( text, elem, state ) {
            if ( state == false ) {
                elem.innerHTML = ansiToHTML ( elem.innerText.replace("<", "&lt;").replace(">", "&gt;"));
                return true;
            } else {
                elem.innerText = build_log_original;
                return false;
            }
        }
        var build_log_colour_btn = function ( headerelem ) {
            var btn = document.createElement( "button" );
            btn.innerText = "Colourful Output";
            btn.classList = [ "toggle-button" ];
            btn.addEventListener ( "click", function ( o ) {
                build_log_ansi_escape( build_log_original, elem, this.classList.contains("toggled") );
                if (this.classList.contains ( "toggled" )) {
                    this.classList.remove("toggled");
                } else {
                    this.classList.add("toggled");
                }
            });
            headerelem.appendChild ( btn );
        }

        build_log_colour_btn ( header_elem );
        build_log_ansi_escape( build_log_original, elem, true );
      </script>
    {{ end }}
  {{ end }}
{{ end }}
