{{define "title"}}Configure Native Auth{{ end }}

{{ define "breadcrumbs"}}{{end}}
{{ define "toolbar" }}
  <li>
      <a href="{{ siteurl }}user/{{ .user.ID }}">
      <i class="fa fa-chevron-left"></i>Cancel
    </a>
  </li>
{{ end }}

{{ define "content" }}
  <h2>Change Password</h2>
  <form method="post">
    <div class="field required">
      <label for="old">Old Password:</label>
      <input type="password" name="old" required />
    </div>
    <div class="field required">
      <label for="new1">New Password:</label>
      <input type="password" name="new1" required />
    </div>
    <div class="field required">
      <label for="new2">Repeat new Password:</label>
      <input type="password" name="new2" required />
    </div>
    <button class="btn-primary">Enable</button>
    <a href="{{ siteurl }}user/{{ .user.ID }}" class="btn">Cancel</a>
  </form>
{{ end }}
