{{ define "title" }}Installation | Finished{{end}}

{{ define "breadcrumbs"}}
{{ end }}
{{ define "toolbar" }}
    <li class="install_done"><a href="{{ call $.installpage 1 }}">Intro</a></li><font class="install"> »</font>
    <li class="install_done"><a href="{{ call $.installpage 2 }}">Database Configuration</a></li><font class="install"> »</font>
        <li class="install_done"><a href="{{ call $.installpage 3 }}">First User</a></li><font class="install"> »</font>
    <li class="install_current"><a href="{{ call $.installpage 4 }}">Finished</a></li>
{{end}}

{{ define "content" }}
<h2>Finished | Installation</h2>
  <p>The installation process has finished.</p>
  <p>Next Steps:
    <ul><li>Disable the installation option in the config-file and / or as command-line parameter</li>
        <li>Restart mvoCI (without the <em>--install</em> parameter)</li>
        <li>Learn how to configure mvoCI safely, for example here: <a href="https://codeberg.org/snaums/mvoCI">Documentation</a></li>
        <li>Issues: <a href="https://codeberg.org/snaums/mvoCI/issues">issue tracker</a>
        <li>Fill out <i>/impress</i> with your information to fullfil your local laws in the config-file</a>
    </ul>
  </p>
{{ end }}
