{{ define "title"}}Installation{{ end }}
{{ define "breadcrumbs"}}
{{ end }}

{{ define "toolbar" }}
    <li class="install_current"><a href="{{ call $.installpage 1 }}">Intro</a></li><font class="install"> »</font>
    <li class="install_next"><a href="{{ call $.installpage 2 }}">Database Configuration</a></li><font class="install"> »</font>
    <li class="install_next"><a href="{{ call $.installpage 3 }}">First User</a></li><font class="install"> »</font>
    <li class="install_next"><a href="{{ call $.installpage 4 }}">Finished</a></li>
{{ end }}

{{ define "content" }}
  <h2>{{ app_title }} Installation</h2>
  <p>This installation process will lead you through creating the database and creating the first user. For configuration-questions of your webserver you should consult <a href="https://codeberg.org/snaums/mvoCI">the GIT-repo and documentation</a></p>
  <a href="{{ call $.installpage 2 }}" class="button">Proceed</a>
{{ end }}
