{{ define "title" }}Installation | Root User{{ end }}
{{ define "breadcrumbs"}}
{{ end }}
{{ define "toolbar" }}
    <li class="install_done"><a href="{{ call $.installpage 1 }}">Intro</a></li><font class="install"> »</font>
    <li class="install_done"><a href="{{ call $.installpage 2 }}">Database Configuration</a></li><font class="install"> »</font>
    <li class="install_current"><a href="{{ call $.installpage 3 }}">First User</a></li><font class="install"> »</font>
    <li class="install_next"><a href="{{ call $.installpage 4 }}">Finished</a></li>
{{end}}

{{ define "content" }}
  <h2>Root User | Installation</h2>
  {{ render_error_list (call $.errors) }}
  <form method="post" action="{{ siteurl }}install/post/3">
    <div class="field required">
      <label for="root_name">Root Username</label>
      <div class="infobox">
        The username of the first user.
      </div>
      <input id="root_name" name="root_name" type="text" value="">
    </div>
    <div class="field required">
      <label for="root_email">Root Email</label>
      <div class="infobox">
        E-Mail Address of the first user. Is shown in the users-panel. 
      </div>
      <input id="root_email" name="root_email" type="text" value="">
    </div>
    <div class="field required">
      <label for="root_password">Root Password</label>
      <div class="infobox">
        The password for the first user.
      </div>
      <input id="root_password" name="root_password" type="password" value="">
    </div>
    <div class="field required">
      <label for="root_repeat">Repeat Root Password</label>
      <input id="root_repeat" name="root_repeat" type="password" value="">
    </div>
    <input type="submit" value="Proceed">
  </form>
{{ end }}
