{{ define "title" }}Integration{{end}}

{{ define "breadcrumbs" }}
  <li>Integration</li>
{{ end }}

{{ define "toolbar" }}
  <li>
    <a href="{{ siteurl }}keys">
      <i class="fa fa-key"></i>SSH Config
    </a>
  </li>
  <li>
    <a href="{{ siteurl }}oauth">
      <i class="fa fa-share-alt"></i>OAuth Token
    </a>
  </li>
{{ end }}

{{ define "content" }}
    <h2>Webhook</h2>
    <p>
      This is the Webhook URL. Please use the appropriate URL for the
      Git server you are using. A list of Git servers for which webhooks
      are supported can be found below.
    </p>
    <!--<h3>Base Webhook Address</h3>
    <pre>{{ .webhookURL }}</pre>
    -->
    <h3>Services</h3>
  <ul class="integration-list">
    <li>
      <img class="service-icon" src="{{ siteurl }}static/img/bitbucket.png" alt="BitBucket logo">
      <a target="_blank" href="https://bitbucket.org/product/pricing?tab=self-hosted">BitBucket (Self-hosted)</a><br />
      <pre>{{ .webhookURL }}/bitbucket</pre>
    </li>
    <!--<li>
      <img class="service-icon" src="{{ siteurl }}static/img/bitbucket.png" alt="BitBucket logo">
      <a href="https://bitbucket.org/product/pricing?tab=cloud">BitBucket (Cloud)</a><br />
      <pre>{{ .webhookURL }}/bitbucket-cloud</pre>
    </li>-->
    <li>
      <img class="service-icon" src="{{ siteurl }}static/img/forgejo.png" alt="Forgejo logo">
      <a target="_blank" href="https://forgejo.org">Forgejo</a>
      <pre>{{ .webhookURL }}/forgejo</pre>
    </li>
    <li>
      <img class="service-icon" src="{{ siteurl }}static/img/gitbucket.png" alt="GitBucket logo">
      <a target="_blank" href="https://gitbucket.github.io/">GitBucket</a>
      <pre>{{ .webhookURL }}/gitbucket</pre>
    </li>
    <li>
      <img class="service-icon" src="{{ siteurl }}static/img/gitea.png" alt="Gitea logo">
      <a target="_blank" href="https://gitea.io/en-US/">Gitea</a>
      <pre>{{ .webhookURL }}/gitea</pre>
    </li>
    <li>
      <img class="service-icon" src="{{ siteurl }}static/img/github.png" alt="GitHub logo">
      <a target="_blank" href="https://github.com">GitHub</a>
      <pre>{{ .webhookURL }}/github</pre>
    </li>
    <li>
      <img class="service-icon" src="{{ siteurl }}static/img/gitlab.png" alt="GitLab logo">
      <a target="_blank" href="https://about.gitlab.com/">GitLab</a>
      <pre>{{ .webhookURL }}/gitlab</pre>
    </li>
    <li>
      <img class="service-icon" src="{{ siteurl }}static/img/gogs.png" alt="Gogs logo">
      <a target="_blank" href="https://gogs.io">Gogs</a>
      <pre>{{ .webhookURL }}/gogs</pre>
    </li>
  </ul>
  <!--
    <h3>Public Key</h3>
    { if public_key %}
      <p>
        This is the public key of the Flux CI server that needs to be added
        to the Git server from which repositories are cloned.
      </p>
      <pre>{ public_key }}</pre>
    { else %}
      <div class="messages error">
        <span class="icon">
          <i class="fa fa-exclamation-triangle"></i>
        </span>
        <div>The server has no SSH public key!</div>
      </div>
      { endif %} -->
{{ end }}
