{{ define "title" }}{{ if eq .mode "add" }}Add Key{{ else }}Edit Key{{end}}{{end}}

{{ define "breadcrumbs" }}
  <li><a href="{{ siteurl }}integration">Integration</a></li>
  <li><a href="{{ siteurl }}keys">SSH-Keys</a></li>
  <li>{{ if eq .mode "add"}}Add Key{{ else }}Edit Key {{ .key.Host }}{{end}}</li>
{{ end }}

{{ define "toolbar" }}
  {{ if eq .mode "add"}}
  <li>
    <a href="{{ siteurl }}keys">
      <i class="fa fa-chevron-left"></i>SSH-Keys
    </a>
  </li>
  {{ else }}
  <li>
      <a href="{{ siteurl }}keys/{{ .key.Host }}">
      <i class="fa fa-chevron-left"></i>{{ .key.Host }}
    </a>
  </li>
  {{ end }}
{{ end }}

{{ define "content" }}
<h2>{{ if eq .mode "add" }}Add Key{{ else }}Edit Key{{ end }}</h2>
  {{ render_error_list .errors }}
  <div class="infobox">
    This form allows you to add an git/ssh Key to your mvoCI user.
    You can upload a <b>private</b> SSH key, you can enter it in the textarea below or
    you can select an already existing file (either because you created it manually or uploaded
    it via SSH).
    The private key will not be shown again.<br/>
    <b>Make sure, that the connection is at least TLS (HTTPS) encrypted, before sending any private keys!</b>
  </div>
  <form method="post" action="{{ if eq .mode "edit" }}{{ siteurl }}keys/edit/{{ .key.Host }}{{else}}{{ siteurl }}keys/add{{end}}" enctype="multipart/form-data">
    <div class="field required">
        <label for="key_host">Host</label>
        <input type="text" id="key_host" name="key_host" value="{{ if eq .mode "add" }}{{ else }}{{ .key.Host }}{{ end}}" placeholder="codeberg.org" {{ if eq .mode "edit" }}readonly{{end}} />
    </div>
    <div class="field">
        <label for="key_hostname">Hostname</label>
        <div class="infobox">If you've entered the hostname as host already, this can be left empty</div>
        <input type="text" id="key_hostname" name="key_hostname" value="{{ if eq .mode "add" }}{{ else }}{{ .key.Hostname }}{{ end}}" placeholder="codeberg.org" />
    </div>
    <div class="field">
        <label for="key_user">Username</label>
        <input type="text" id="key_user" name="key_user" value="{{ if eq .mode "add" }}{{ else }}{{ .key.User }}{{ end}}" placeholder="git" />
    </div>
    <div class="field">
        <label for="key_proxyjump">ProxyJump</label>
        <div class="infobox">
            If the server is only reachable via a Proxy, you can add it here. If you are unsure, this can probably be left empty.
        </div>
        <input type="text" id="key_proxyjump" name="key_proxyjump" value="{{ if eq .mode "add" }}{{ else }}{{ .key.ProxyJump }}{{ end}}" placeholder="" />
    </div>
    <div class="field">
        <label for="key_port">Port</label>
        <input type="text" id="key_port" name="key_port" value="{{ if eq .mode "add" }}{{ else }}{{ if gt .key.Port 0 }}{{ .key.Port }}{{ end }}{{ end}}" placeholder="" />
    </div>
    <h3>Private SSH Key</h3>
    <div class="infobox">Please fill out <b>one</b> of the following fields with the private key for this host</div>
    <div class="field">
        <label for="key_file">Already Present Key File</label>
        <input type="text" id="key_file" name="key_file" value="{{ if eq .mode "add" }}{{ else }}{{ call .getFilename .key.IdentityFile }}{{ end}}" placeholder="codeberg" />
        {{ if eq .mode "add" }}
        <label for="key_private_key">Or Enter the Private Key Information</label>
        <textarea id="key_private_key" name="key_private_key" placeholder="-----BEGIN OPENSSH PRIVATE KEY-----"></textarea>
        {{end}}
        <label for="key_file_upload">Or Choose a Private Key File for Upload</label>
        <input type="file" name="key_file_upload" placeholder="keyfile" id="key_file_upload" />
    </div>
  <div class="infobox">
      Pressing the submit-button will write your ~/.ssh/config. It will <b>once</b> try and create a backup, but make sure, manual additions are saved <b>before</b> adding keys here!<br /><br />
  </div>
  <button class="btn-primary">{{ if eq .mode "add" }}Add Key{{ else }}Update Key{{ end }}</button>
  </form>
{{ end }}
