{{ define "title"}}SSH-Keys{{end}}

{{ define "breadcrumbs" }}
  <li><a href="{{ siteurl }}integration">Integration</a></li>
  <li>SSH-Keys</li>
{{ end }}

{{ define "toolbar" }}
  <li>
    <a href="{{ siteurl }}integration">
      <i class="fa fa-chevron-left"></i>Integration
    </a>
  </li>
  <li>
    <a href="{{ siteurl }}keys/add">
      <i class="fa fa-plus"></i>Add Key
    </a>
  </li>
{{ end }}

{{ define "content" }}
<h2>SSH-Keys</h2>
{{ if .KeyError }} 
<div class="error">{{ .KeyError }}</div>
{{ end }}

<div class="infobox">
    Deleting an SSH-Key will write your ~/.ssh/config. Make sure any manual modifications are saved somewhere else, before doing anything here!<br />
    The ~/.ssh/config is not parsed, it will be overwritten with the SSH Keys known to mvoCI.<br />
    Also, password secured certificates are not supported.
    <br /><br />
</div>
<div id="ssh_keys">
  {{ range .keys }}
    <div class="block-link">
        <span class="block">
          <span class="left-side">
            <span class="block-item block-icon">
              <i class="fa fa-key"></i>
            </span>
            <span class="block-item">
              <span class="block-top-item commit-message">
                  {{ .Host }} {{ if .Hostname }}(Hostname: {{ .Hostname }} ){{end}}
              </span>
              <span class="block-bottom-item block-fa">
                  Username: {{if .User}}{{ .User }}{{else}}nil{{end}}
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item">
              <span class="block-top-item block-fa">
                IdentityFile: {{ call $.getFilename .IdentityFile }}
              </span>
              <span class="block-bottom-item block-fa">
              </span>
            </span>
            <span class="block-item dashboard-icons">
                <a href="{{ siteurl }}keys/edit/{{ .Host }}" title="Edit Key" class="fa fa-pencil"></a>
                <a href="{{ siteurl }}keys/delete/{{ .Host }}" title="Remove Key" class="fa fa-trash"></a>
            </span>
          </span>
        </span>
      </div>
  {{ else }}
    <div class="messages info">
      <span class="icon">
        <i class="fa fa-info-circle"></i>
      </span>
      <div>No entries present.</div>
    </div>
  {{ end }}
</div>
{{ end }}
