{{ define "title" }}Personal CI, made easy{{ end }}

{{ define "breadcrumbs" }}
{{ end }}

{{ define "toolbar" }}
{{ end }}


{{ define "content" }}
<div class="landing">

<div class="logo">
  <span>
    <img src="{{ siteurl }}static/img/logo-dark.svg" class="landing_logo">
  </span><span>
    <h1>mvoCI: Personal CI, made easy</h2>
    <h2>Your personal simple yet useful CI Server</h2>
  </span>
</div>

<div class="landing_flex">
    <div class="landing_flex_element">
        <i class="fa fa-rocket"></i>
        <h3>Easy to Install</h3>
        <p>Simply run the <a href="https://mvoci.de/downloads" target="_blank">binary</a>, the Installer will walk you through the steps<p>
    </div>

    <div class="landing_flex_element">
        <i class="fa fa-key"></i>
        <h3>Easy to Set-up</h3>
        <p>Config file is JSON, Web-UI for modifying repos</p>
    </div>

    <div class="landing_flex_element">
        <i class="fa fa-cog-alt"></i>
        <h3>Easy to Understand</h3>
        <p>Run Bash-Scripts for webhooks, build your code faster, see Test-Results</p>
    </div>

    <div class="landing_flex_element">
        <i class="fa fa-code-fork"></i>
        <h3>Easy to Extend</h3>
        <p>mvoCI is <a href="https://codeberg.org/snaums/mvoCI">open-source</a>, you are free to contribute by reporting bugs, requesting new features or extending it yourself</p>
    </div>

    {{ if eq (config "PublicEnable") "true" }}
    <div class="landing_flex_element">
        <i class="fa fa-clipboard"></i>
        <h3>Public Resources</h3>
        <p>View <a href="{{siteurl}}public">public builds</a> on this instance, download artifacts and list tests results</p>
    </div>
    {{ end }}
</div>
</div>
{{ end }}
