{{ define "title" }}Login: TOTP{{end}}

{{ define "breadcrumbs"}}{{end}}
{{ define "content" }}
  <div class="login-form">
    <span class="login-header">Timed One Time Password (TOTP)</span>
    <form method="post">
      <div class="form-field">
        <label for="auth_secret">TOTP-Code or Backup-Code</label>
        <input type="text" name="auth_secret" placeholder="TOTP" autofocus />
      </div>
      <button class="btn-primary">Submit</button>
    </form>
  </div>
{{ end }}
{{ define "toolbar" }}{{ end }}
