{{ define "title" }}Login: YOU SHOULD NOT USE THIS!{{end}}

{{ define "breadcrumbs"}}{{end}}
{{ define "content" }}
  <div class="login-form">
    <span class="login-header">Dummy Login Module</span>
    <form method="post">
      Please input: {{ .authExtra }}.
      <div class="form-field">
        <input type="password" name="auth_secret" placeholder="Password" />
      </div>
      <button class="btn-primary">Submit</button>
    </form>
  </div>
{{ end }}
{{ define "toolbar" }}{{ end }}
