{{ define "title" }}Build {{ .build.Name }}{{end}}

{{ define "toolbar" }}
  <li>
      <a href="{{ siteurl }}public/{{ .repo.ID }}"><i class="fa fa-hdd"></i>{{ .repo.Name }}</a>
  </li>
  {{ if gt .build.NumTotal 0 }}
  <li>
      <a href="{{ siteurl }}public/{{ .repo.ID }}/tests/{{ .build.ID}}"><i class="fa fa-list-alt"></i>View Tests</a>
  </li>
  {{ end }}
  <li>
      <a href="{{ siteurl }}public/{{ .repo.ID }}/build/{{ .run.ID}}"><i class="fa fa-wrench-1"></i>View Build</a>
  </li>
  <li>
      <a href="{{ siteurl }}public/zip/{{ .build.Zip }}"><i class="fa fa-download"></i>Artifacts</a>
  </li>
  {{ if eq (config "PublicBuildLog") "true" }}
  <li>
    <a href="{{ siteurl }}public/{{ .repo.ID }}/log/{{ .build.ID }}"><i class="fa fa-th-list"></i>View Log</a>
  </li>
  {{ end }}
{{ end }}

{{ define "breadcrumbs" }}
<li><a href="{{ siteurl }}public">Public Repositories</a></li>
<li><a href="{{ siteurl }}public/{{.repo.ID}}">{{ .repo.Name }}</a></li>
{{ if gt .build.ParentID 0 }}
<li><a href="{{ siteurl }}public/{{ .repo.ID}}/build/{{ .build.ParentID }}">Parent Build</a></li>
{{ end }}
<li>Build {{ .build.Name }}</li>
{{ end }}

{{ define "content" }}
<h2>Build</h2>
  <dl class="attr_larger">
    <dt>Built on</dt>
    <dd>{{ .build.Event }}</dd>
    <dt>Commit-Author</dt>
    <dd>{{ .build.CommitAuthor }}</dd>
    <dt>Commit-Message</dt>
    <dd class="commit-message">{{ .build.CommitMessage }}</dd>
    {{ if eq .build.CommitUrl "" }}{{ else }}
    <dt>View Changes</dt>
    <dd><a href="{{ .build.CommitUrl }}" target="_blank" title="View Changes">View Changes</a></dd>
    {{ end }}
    {{ if gt .build.ParentID 0 }}
    <dt>Parent Build</dt>
    <dd><a href="{{ siteurl }}public/{{ .build.RepositoryID }}/build/{{ .build.ParentID }}" title="Parent Build"><i class="fa fa-chevron-left"></i> View Parent</a></dd>
    {{ end }}
    <dt>MD5</dt>
    <dd>{{ .build.Md5 }}</dd>
    <dt>SHA1</dt>
    <dd>{{ .build.Sha1 }}</dd>
  </dl>

  <span class="block">
    <span class="left-side">
    <span class="block-item block-icon">
        {{ build_status .build.Status }}
    </span>
    <span class="block-item">
      <span class="block-top-item">
          <b>{{ if eq .build.Name "" }}{{ $.repo.Name }}{{else }}{{ .build.Name }}{{end}}</b> » {{ .build.Branch }}
      </span>
      <span class="block-bottom-item block-fa">
        {{ .build.CommitSha }}
      </span>
    </span>
      <span class="block-item">
        <span class="block-top-item block-fa">
        </span>
      </span>
    </span>
    <span class="right-side">
      <span class="block-item">
        <span class="block-top-item block-fa">
          <i class="fa fa-calendar-o"></i>{{ render_time .build.StartedAt }}
        </span>
        <span class="block-bottom-item block-fa">
          <i class="fa fa-clock-o"></i>{{ if or (eq .build.Status "failed") (eq .build.Status "finished") }}{{ .build.Duration }}{{ end }}
        </span>
      </span>
      <span class="block-item dashboard-icons">
        {{ if gt .build.NumTotal 0 }}
        <a href="{{ siteurl }}public/{{ .build.RepositoryID}}/tests/{{.build.ID}}" title="View Tests" class="fa fa-list-alt test-state-{{ call $.render_test_state .build }}"></a>
        {{ end }}
        {{ if eq .build.Zip "" }}{{ else }}
          <a href="{{ siteurl }}public/zip/{{ .build.Zip }}" title="Download ZIP" class="fa fa-download"></a>
        {{ end }}
      </span>
    </span>
  </span>

  {{ if gt (len .children) 0  }}
  <h3>Sub-Builds/Variants</h3>

  {{ range .children }}
  <span class="block">
    <span class="left-side">
    <span class="block-item block-icon">
        {{ build_status .Status }}
    </span>
    <span class="block-item">
      <span class="block-top-item">
          <b>{{ if eq .Name "" }}{{ $.repo.Name }}{{else }}{{ .Name }}{{end}}</b> &gt;&gt; {{ .Branch }}
      </span>
      <span class="block-bottom-item block-fa">
        {{ .CommitSha }}
      </span>
    </span>
      <span class="block-item">
        <span class="block-top-item block-fa">
        </span>
      </span>
    </span>
    <span class="right-side">
      <span class="block-item">
        <span class="block-top-item block-fa">
          <i class="fa fa-calendar-o"></i>{{ render_time .StartedAt }}
        </span>
        <span class="block-bottom-item block-fa">
          <i class="fa fa-clock-o"></i>{{ if or (eq .Status "failed") (eq .Status "finished") }}{{ .Duration }}{{ end }}
        </span>
      </span>
      <span class="block-item dashboard-icons">
        {{ if gt .NumTotal 0 }}
        <a href="{{ siteurl }}public/{{ .RepositoryID}}/tests/{{.ID}}" title="View Tests" class="fa fa-list-alt test-state-{{ call $.render_test_state . }}"></a>
        {{ end }}
        {{ if eq .Zip "" }}{{ else }}
          <a href="{{ siteurl }}public/zip/{{ .Zip }}" title="Download ZIP" class="fa fa-download"></a>
        {{ end }}
        <a href="{{ siteurl }}public/{{ .RepositoryID }}/build/{{ .ID }}" title="View Build" class="fa fa-chevron-right"></a>
      </span>
    </span>
  </span>
  {{ end }}
  {{ end }}

  {{ if eq (config "PublicBuildLog") "true" }}
  {{ if eq .build.Status "queued" }}{{ else }}
    <h3 id="build_log_h3">Build Log</h3>
    {{ if eq .build.Log "" }}
      <div class="messages error">
        <span class="icon">
          <i class="fa fa-exclamation-triangle"></i>
        </span>
        <div>Build log missing.</div>
      </div>
    {{ else }}
      <script src="{{ siteurl }}static/js/ansi_escape.js"></script>
      <pre class="build-log"><code>{{ .build.Log }}</code></pre>
      <script>
        var elem = document.getElementsByClassName ( "build-log" )[0];
        var build_log_original = elem.innerText;
        var header_elem = document.getElementById ( "build_log_h3" );
        var build_log_escaped = false;

        var build_log_ansi_escape = function ( text, elem, state ) {
            if ( state == false ) {
                elem.innerHTML = ansiToHTML ( elem.innerText );
                return true;
            } else {
                elem.innerText = build_log_original;
                return false;
            }
        }
        var build_log_colour_btn = function ( headerelem ) {
            var btn = document.createElement( "button" );
            btn.innerText = "Colourful Output";
            btn.classList = [ "toggle-button" ];
            btn.addEventListener ( "click", function ( o ) {
                build_log_ansi_escape( build_log_original, elem, this.classList.contains("toggled") );
                if (this.classList.contains ( "toggled" )) {
                    this.classList.remove("toggled");
                } else {
                    this.classList.add("toggled");
                }
            });
            headerelem.parentNode.insertBefore ( btn, headerelem );
        }

        build_log_colour_btn ( header_elem );
        build_log_ansi_escape( build_log_original, elem, true );
      </script>
    {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
