{{ define "title" }}Test run {{ .run.Name }}{{ end }}

{{ define "toolbar" }}
  <li>
      <a href="{{ siteurl }}public/{{ .repo.ID }}"><i class="fa fa-hdd"></i>{{ .repo.Name }}</a>
  </li>
  {{ if gt .build.NumTotal 0 }}
  <li>
      <a href="{{ siteurl }}public/{{ .repo.ID }}/tests/{{ .build.ID}}"><i class="fa fa-list-alt"></i>View Tests</a>
  </li>
  {{ end }}
  <li>
      <a href="{{ siteurl }}public/{{ .repo.ID }}/build/{{ .run.ID}}"><i class="fa fa-wrench-1"></i>View Build</a>
  </li>
  <li>
      <a href="{{ siteurl }}public/zip/{{ .build.Zip }}"><i class="fa fa-download"></i>Artifacts</a>
  </li>
  {{ if eq (config "PublicBuildLog") "true" }}
  <li>
    <a href="{{ siteurl }}public/{{ .repo.ID }}/log/{{ .build.ID }}"><i class="fa fa-th-list"></i>View Log</a>
  </li>
  {{ end }}
{{ end }}


{{ define "breadcrumbs" }}
<li><a href="{{ siteurl }}public">Public Repositories</a></li>
<li><a href="{{ siteurl }}public/{{.repo.ID}}">{{ .repo.Name }}</a></li>
<li>Test Run {{ .run.Name }}</li>
{{ end }}

{{ define "content" }}
<h2>Test of {{ .run.Name }}</h2>
<dl>
  <dt>Total Tests</dt>
  <dd>{{ .run.NumTotal }}</dd>
  <dt>Successful Tests</dt>
  <dd>{{ .run.NumSuccess }}</dd>
  <dt>Failed Tests</dt>
  <dd>{{ .run.NumFailed }}</dd>
  <dt>CommitSha</dt>
  <dd>{{ .run.CommitSha }}</dd>
  <dt>CommitMessage</dt>
  <dd>{{ .run.CommitMessage }}</dd>
</dl>

{{ if gt .run.NumTotal 0 }}
  <div class="block-color-line block-color-line-standalone test-data" title="{{ .run.NumSuccess }} / {{ .run.NumTotal }} Tests succeeded" style="background: {{ call $.create_linear_gradient .run }}"></div>
{{ end }}

<div class="tabs">
    <a href="{{siteurl}}public/{{ $.repo.ID }}/tests/{{ $.run.ID }}" class="tab {{ if eq .filtermode ""}}tab-selected{{end}}">all</a>{{ range .filtermodes}}<a href="{{siteurl}}public/{{ $.repo.ID }}/tests/{{ $.run.ID }}/{{.}}" class="tab {{ if eq $.filtermode . }}tab-selected{{end}}">{{ . }}</a>{{ end }}
</div>

  {{ range .run.Tests }}
    <span class="block">
      <span class="left-side">
        <span class="block-item block-icon">
            <i class="fa fa-flag-circled test-state-{{ .Result }}" title="{{ .Result }}"></i>
        </span>
        <span class="block-item">
          <span class="block-top-item">
              {{ if not (eq .SuiteName "") }}{{ .SuiteName }} » {{end}}{{ .Name }}
          </span>
          <span class="block-bottom-item">
            {{ call $.render_duration .Duration }}
          </span>
        </span>
      </span>
    </span>
  {{ else }}
    <div class="messages info">
      <span class="icon">
        <i class="fa fa-info-circle"></i>
      </span>
      <div>No Tests</div>
    </div>
  {{ end }}
{{ end }}
