{{ define "title" }}Public Repositories{{ end }}

{{ define "toolbar" }}{{ end }}
{{ define "breadcrumbs" }}
<li>Public Repositories</li>
{{ end }}

{{ define "content" }}
<h2>Public Repositories</h2>
  {{ range .repositories }}
    {{ if .Public }}
      <a class="block-link" href="{{ siteurl }}public/{{ .ID }}">
        <span class="block">
          <span class="left-side">
            <span class="block-item block-icon">
              <i class="fa fa-share-alt"></i>
            </span>
            <span class="block-item">
              <span class="block-top-item">
                {{ .Name }}
              </span>
              <span class="block-bottom-item">
                {{.CloneUrl }}
              </span>
            </span>
          </span>
        </span>
      </a>
    {{ end }}
  {{ end }}
  {{ if not .repositories }}
    <div class="messages info">
      <span class="icon">
        <i class="fa fa-info-circle"></i>
      </span>
      <div>No repositories</div>
    </div>
  {{ end }}
{{ end }}
