{{ define "title"}}Public Builds for Repo {{.repo.Name}}{{ end }}

{{ define "breadcrumbs" }}
<li><a href="{{ siteurl }}public">Public Repositories</a></li>
<li>{{ .repo.Name }}</li>
{{ end }}
{{ define "toolbar" }}
  <li>
    <a href="{{ siteurl }}public">
      <i class="fa fa-chevron-left"></i>Repositories
    </a>
  </li>
{{ end }}

{{ define "headext" }}
  {{ if .existUnfinishedBuilds }}
    <meta http-equiv="refresh" content="5" />
  {{ end }}
{{ end }}

{{ define "content" }}
  <h2>Repo: {{ .repo.Name }}</h2>
    <dl>
      <dt>Clone URL</dt>
      <dd>{{ .repo.CloneUrl }}</dd>
    </dl>
    <h3>Builds</h3>
    {{ range .builds }}
    {{ if eq .Zip "" }}{{ else }}
      <div class="block-link">
        <span class="block">
          <span class="left-side">
            <span class="block-item block-icon">
                {{ build_status .Status }}
            </span>
            <span class="block-item">
              <span class="block-top-item commit-message">
                  {{ if eq .CommitMessage "" }}{{ $.repo.Name}}{{ else }}{{ .CommitMessage }}{{ end }}
              </span>
              <span class="block-bottom-item block-fa">
                {{ .CommitSha }}
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item">
              <span class="block-top-item block-fa">
                <i class="fa fa-calendar-o"></i>{{ render_time .StartedAt }}
              </span>
              <span class="block-bottom-item block-fa">
                <i class="fa fa-clock-o"></i>{{ .Duration }}
              </span>
            </span>
            <span class="block-item dashboard-icons">
                {{ if gt .NumTotal 0 }}
                <a href="{{ siteurl }}public/{{ $.repo.ID}}/tests/{{.ID}}" title="View Tests" class="fa fa-list-alt test-state-{{ call $.render_test_state . }}"></a>
                {{ end }}
              <a href="{{ siteurl }}public/zip/{{ .Zip }}" title="Download ZIP" class="fa fa-download"></a>
              <a href="{{ siteurl }}public/{{ $.repo.ID }}/build/{{ .ID}}" title="View Build" class="fa fa-chevron-right"></a>
            </span>
          </span>
        {{ if gt .NumTotal 0 }}
          <div class="block-color-line block-color-line-dashboard test-data" title="{{ .NumSuccess }} / {{ .NumTotal }} Tests succeeded" style="background: {{ call $.create_linear_gradient . }}"></div>
        {{ end }}
        </span>
      </div>
    {{ end }}
    {{ else }}
    <div class="messages info">
      <span class="icon">
        <i class="fa fa-info-circle"></i>
      </span>
      <div>No builds for this repository.</div>
    </div>
    {{ end }}

    {{ if gt .pageMax 1 }}
    <div class="paging">
      {{ range .pageRange }}
        {{ if eq . -1 }}
            <i> ... </i>
        {{ else }}
          {{ if eq . $.page }}
            <a class="page-btn page-this" href="{{ siteurl }}public/{{ $.repo.ID }}/{{.}}">{{ . }}</a>
          {{ else }}
            <a class="page-btn" href="{{ siteurl }}public/{{ $.repo.ID }}/{{.}}">{{ . }}</a>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
    {{ end }}

{{ end }}

