{{ define "title" }}All Test Runs: {{ .repo.Name }}{{ end }}

{{ define "breadcrumbs" }}
<li><a href="{{siteurl}}repo">Repositories</a></li>
<li><a href="{{siteurl}}repo/view/{{.repo.ID}}">{{ .repo.Name }}</a></li>
<li><a href="{{siteurl}}repo/tests/{{.repo.ID}}">Tests</a></li>
<li>Test Run {{ .run.Name }}</li>
{{ end }}

{{ define "toolbar" }}
      <li>
          <a href="{{ siteurl }}repo/{{ .repo.ID }}"><i class="fa fa-hdd"></i>{{ .repo.Name }}</a>
      </li>
      <li>
          <a href="{{ siteurl }}repo/tests/{{ .repo.ID }}"><i class="fa fa-list-alt"></i>View Test Run</a>
      </li>
      <li>
        <a href="{{ siteurl }}build/{{ .run.ID }}"><i class="fa fa-tools"></i>View Build</a>
      </li>
{{ end }}

{{ define "content" }}
<h2>Test Runs of {{ .repo.Name }}</h2>
<dl>
  <dt>Total Tests</dt>
  <dd>{{ .run.NumTotal }}</dd>
  <dt>Successful Tests</dt>
  <dd>{{ .run.NumSuccess }}</dd>
  <dt>Failed Tests</dt>
  <dd>{{ .run.NumFailed }}</dd>
</dl>

{{ if gt .run.NumTotal 0 }}
  <div class="block-color-line block-color-line-standalone test-data" title="{{ .run.NumSuccess }} / {{ .run.NumTotal }} Tests succeeded" style="background: {{ call $.create_linear_gradient .run }}"></div>
{{ end }}

  <ul class="searchbar">
    <li>
      <a href="javascript:test_search_toggle()" class="test_search_btn search-button">
        <i class="fa fa-search"></i>Search
      </a>
      <div class="test_search_field hidden">
        <input type="text" name="search_bar" id="test_search_bar" value="" placeholder="Search" />
        <input type="hidden" id="test_search_run_id" value="{{ $.run.ID }}">
      </div>
    </li>
  </ul>
<div class="tabs">
  <a href="{{siteurl}}repo/tests/{{ $.repo.ID }}/run/{{ $.run.ID }}" class="tab {{ if eq .filtermode ""}}tab-selected{{end}}">all</a>{{ range .filtermodes}}<a href="{{siteurl}}repo/tests/{{ $.repo.ID }}/run/{{ $.run.ID }}/{{ . }}" class="tab {{ if eq $.filtermode . }}tab-selected{{end}}">{{ . }}</a>{{ end }}
</div>

<script>
document.addEventListener("DOMContentLoaded", function(event) {
    test_search_arm ( "#test_search_bar", "#search_results" );
});
</script>

<div id="search_results">
  {{ range .run.Tests }}
  <a class="block-link" href="{{ siteurl }}repo/tests/{{ $.repo.ID }}/run/{{ $.run.ID }}/test/{{ .ID }}">
    <span class="block">
      <span class="left-side">
        <span class="block-item block-icon">
            <i class="fa fa-flag-circled test-state-{{ .Result }}" title="{{ .Result }}"></i>
        </span>
        <span class="block-item">
          <span class="block-top-item">
              {{ if not (eq .SuiteName "") }}{{ .SuiteName }} » {{end}}{{ .Name }}
          </span>
          <span class="block-bottom-item">
            {{ call $.render_duration .Duration }}
          </span>
        </span>
      </span>
    </span>
  </a>
  {{ else }}
    <div class="messages info">
      <span class="icon">
        <i class="fa fa-info-circle"></i>
      </span>
      <div>No Tests</div>
    </div>
  {{ end }}
</div>
{{ end }}
