{{ define "title"}}Repo: {{.repo.Name}}{{ end }}

{{ define "breadcrumbs" }}
<li><a href="{{siteurl}}repo">Repositories</a></li>
<li>{{ .repo.Name }}</li>
{{ end }}

{{ define "toolbar" }}
  {{ if eq (aclCheck .acl "AclExecute") true }}
      <li>
        <a href="{{ siteurl }}repo/build/{{ .repo.ID }}"><i class="fa fa-wrench"></i>Build now</a>
      </li>
      <li>
          <a href="javascript:build_adv ();"><i class="fa fa-tools"></i>Build advanced</a>
      </li>
    <li>
        <a href="{{siteurl}}repo/tests/{{ .repo.ID }}"><i class="fa fa-list-alt"></i>Tests</a>
    </li>
  {{ end }}
      {{ if eq (aclCheck .acl "AclEdit") true }}
      <li>
        <a href="{{ siteurl }}repo/edit/{{ .repo.ID }}"><i class="fa fa-edit"></i>Edit</a>
      </li>
      <li>
        <a href="{{ siteurl }}repo/variants/{{ .repo.ID }}"><i class="fa fa-file-code"></i>Variants</a>
      </li>
      {{ end }}
      {{ if eq (aclCheck .acl "AclComplete") true }}
      <li>
        <a href="{{ siteurl }}repo/members/{{ .repo.ID }}"><i class="fa fa-group"></i>Members</a>
      </li>
      {{ end }}
      {{ if eq (aclCheck .acl "AclDelete") true }}
      <li>
        <a href="{{ siteurl }}api/v1/repo/delete/{{ .repo.ID }}"><i class="fa fa-trash"></i>Delete</a>
      </li>
      {{ end }}
{{ end }}

{{ define "content" }}
{{ if and (eq (config "Build.RefreshPage") "true") (gt .unfinishedBuild 0) }}
<script>
document.addEventListener("DOMContentLoaded", function(event) {
    build_refresh ( {{ .unfinishedBuild }}, {{ config "Build.RefreshInterval" }});
</script>
{{ end }}
<div class="modal" id="build_adv">
    <div class="modal_window">
        <span class="modal_x" onclick="build_adv_close()">x</a></span>
        <h2 class="modal_title">Build {{.repo.Name}}</h2>
		<div class="field required">
			<label for="build_event">Event</label>
			<select name="build_event" id="build_event">
				<option selected="selected" value="push">push</option>
				<option value="release">release</option>
			</select>
		</div>
        <div class="field required">
            <label for="build_branch">Branch</label>
            <input type="text" name="build_branch" id="build_branch" placeholder="main" value="{{ .repo.DefaultBranch }}">
        </div>
        <div class="field required">
            <label for="build_hash">Commit-Hash (or empty)</label>
            <input type="text" name="build_hash" id="build_hash" placeholder="^HEAD">
        </div>
		<div class="field">
			<label>Optional Parameters</label>
			<table style="width: 100%" id="build_arguments">
		    	<thead>
					<tr>
						<th><label>Key</label></th>
		                <th><label>Value</label></th>
					</tr>
				</thead>
				<tbody>
					<tr>
		            	<td><input type="text" name="build_argument_name[0]" id="build_argument_name_0" placeholder="key"></td>
		            	<td><input type="text" name="build_argument_value[0]" id="build_argument_value_0" placeholder="value"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2" valign="right"><a class="btn" href="javascript:build_doAdv_addArgument();">+</a></td>
					</tr>
				</tfoot>
			</table>
			<span>parameters with empty key(s) will not be passed to build process, the coresponding value(s) will be ignored</span>
		</div>
        <input type="hidden" name="build_id" id="build_id" value="{{.repo.ID}}">
        <a class="btn btn-primary" href="javascript:build_doAdv();">Build</a> <a class="btn" href="javascript:build_adv_close();">Cancel</a>
    </div>
</div>
  <h2>Repo: {{ .repo.Name }}</h2>
    <dl>
  {{ if aclCheck .acl "AclEdit" }}
      <dt>Secret</dt>
      <dd>{{ if eq (config "RepoSecretShow") "true" }}{{ .repo.Secret }}{{ else }}xxxx-xxxx-xxxx-xxxx{{ end }}<button class="copybtn fa fa-clipboard" data-copyId="secret_copy" title="Copy Secret"></button></dd>
  {{ end }}

      <dt>Webhook-URL</dt>
      <dd>{{ .webhookUrl }} <button class="copybtn fa fa-clipboard" data-copyId="webhookurl_copy" title="Copy Webhook-URL"></button></dd>
      <dt>Clone URL</dt>
      <dd>{{ .repo.CloneUrl }}</dd>
      <dt>State</dt>
      <dd><img src="{{ .stateUrl }}" title="{{ .stateString }}" alt="{{ .stateString }}"> <button class="copybtn fa fa-clipboard" data-copyId="state_url" title="Copy link to state img"></button></dd>
      <dt>Owner</dt>
      <dd><a href="{{ siteurl }}user/edit/{{ .u.ID }}">{{ .u.Name }}</a></dd>
      <dt>Webhook</dt>
      <dd>{{ if .repo.WebHookEnable }}<i class="fa fa-check-1"></i> <i>enabled</i>{{ else }}<i class="fa fa-check-empty"></i> <i>disabled</i>{{ end }}</dd>
      <dt>Keep Builds</dt>
      <dd>{{ if .repo.KeepBuilds }}<i class="fa fa-check-1"></i> <i>enabled</i>{{ else }}<i class="fa fa-check-empty"></i> <i>disabled</i>{{ end }}</dd>
      <dt>Public</dt>
      <dd>{{ if .repo.Public }}<i class="fa fa-check-1"></i> <i class="strong">public</i>{{ else }}<i class="fa fa-check-empty"></i> <i>not public</i>{{ end }}</dd>
      <dt>Send Mail</dt>
      <dd>{{ if .repo.SendMail }}<i class="fa fa-check-1"></i> <i class="strong">yes</i>{{ else }}<i class="fa fa-check-empty"></i> <i>no</i>{{ end }}</dd>
      <dt>Nightly</dt>
      <dd>{{ if .repo.Nightly }}
          <i class="fa fa-check-1"></i> <i class="strong">yes</i>
          {{ if .repo.NightlyWhenChanged }}
            <i>when changed</i>
            {{ if .repo.NightlyHasChanges }}
              <i>(Will be built)</i>
            {{ end }}
          {{ end }}
        {{ else }}
          <i class="fa fa-check-empty"></i> <i>no</i>
        {{ end }}
      </dd>
    </dl>
    <input type="hidden" id="secret_copy" value="{{ .repo.Secret }}">
    <input type="hidden" id="webhookurl_copy" value="{{ .webhookUrl }}">
    <input type="hidden" id="state_url" value="{{ .stateUrl }}">

    <ul class="searchbar">
    <li>
      <a href="javascript:build_search_toggle()" class="build_search_btn search-button">
        <i class="fa fa-search"></i>Search
      </a>
      <div class="build_search_field hidden">
        <input type="text" name="search_bar" id="build_search_bar" value="" placeholder="Search" />
        <input type="hidden" id="build_search_repo_id" value="{{ .repo.ID }}">
      </div>
    </li>
    </ul>

    <h3>Builds</h3>

<script>
document.addEventListener("DOMContentLoaded", function(event) {
    build_search_arm ( "#build_search_bar", "#search_results" );
});
</script>

  <div id="search_results">
    {{ range .builds }}
    <div class="block-link">
        <span class="block">
          <span class="left-side">
            <span class="block-item block-icon">
                {{ build_status .Status }}
            </span>
            <span class="block-item">
              <span class="block-top-item commit-message">
                  {{ if eq .CommitMessage "" }}{{ $.repo.Name}}{{ else }}{{ .CommitMessage }}{{ end }}
              </span>
              <span class="block-bottom-item block-fa">
                {{ .CommitSha }}
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item">
              <span class="block-top-item block-fa">
                <i class="fa fa-calendar-o"></i>{{ render_time .StartedAt }}
              </span>
              <span class="block-bottom-item block-fa">
                  <i class="fa fa-clock-o"></i>{{ if or (eq .Status "failed") (eq .Status "finished") }}{{ .Duration }}{{ end }}
              </span>
            </span>
            <span class="block-item dashboard-icons">
               {{ if eq .Status "enqueued" }}
                  <a href="{{ siteurl }}build/delete/{{ .ID }}" title="Abort" class="fa fa-times"></a>
               {{ end }}
                {{ if gt .NumTotal 0 }}
                <a href="{{ siteurl }}repo/tests/{{ .RepositoryID}}/run/{{.ID}}" title="View Tests" class="fa fa-list-alt test-state-{{ call $.render_test_state . }}"></a>
                {{ end }}
              {{ if eq .Zip "" }}{{ else }}
                <a href="{{ siteurl }}zip/{{ .Zip }}" title="Download ZIP" class="fa fa-download"></a>
              {{ end }}
                <a href="{{ siteurl }}build/{{ .ID }}" title="View Build" class="fa fa-chevron-right"></a>
            </span>
          </span>
        {{ if gt .NumTotal 0 }}
          <div class="block-color-line block-color-line-dashboard test-data" title="{{ .NumSuccess }} / {{ .NumTotal }} Tests succeeded" style="background: {{ call $.create_linear_gradient . }}"></div>
        {{ end }}
        </span>
      </div>
    {{ else }}
    <div class="messages info">
      <span class="icon">
        <i class="fa fa-info-circle"></i>
      </span>
      <div>No builds for this repository.</div>
    </div>
    {{ end }}

    {{ if gt .pageMax 1 }}
    <div class="paging">
      {{ range .pageRange }}
        {{ if eq . -1 }}
            <i> ... </i>
        {{ else }}
          {{ if eq . $.page }}
            <a class="page-btn page-this" href="{{ siteurl }}repo/view/{{ $.repo.ID }}/{{.}}">{{ . }}</a>
          {{ else }}
            <a class="page-btn" href="{{ siteurl }}repo/view/{{ $.repo.ID }}/{{.}}">{{ . }}</a>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
    {{ end }}
  </div>

{{ end }}
