{{ define "title" }}Build Variants for {{ .repo.Name }}{{ end }}

{{ define "breadcrumbs" }}
<li><a href="{{siteurl}}repo">Repositories</a></li>
<li><a href="{{siteurl}}repo/view/{{.repo.ID}}">{{ .repo.Name }}</a></li>
<li>Build Variants</li>
{{ end }}

{{ define "toolbar" }}
  <li>
    <a href="{{ siteurl }}repo/view/{{ .repo.ID }}">
      <i class="fa fa-hdd"></i>{{ .repo.Name }}
    </a>
  </li>
  <li>
    <a href="{{siteurl}}repo/variants/{{ .repo.ID }}/add">
      <i class="fa fa-plus"></i>Add
    </a>
  </li>
{{ end }}

{{ define "content" }}
<h2>Build Variants for {{ .repo.Name }}</h2>

<div class="infobox">
    Build Variants are variations on the default build. By setting custom environment variables, you can alter the behaviour of the default build and create more builds per event (push, release, manual build). For example, if your repo can be built for x86 and ARM, you could have the default build compile for x86, and a variant could create the ARM image.<br/><br/>

Build variants will be built independently from the default build. For each variant mvoCI will create own build artifacts. Variants are grouped under the default build for a commit.
<br/><br/>
</div>

    <div id="search_results">
  {{ range .variants }}
        <span class="block">
          <span class="left-side">
            <span class="block-item block-icon">
                <a href="javascript:toggle_visible('detail-variant-{{ .ID }}');" toggle="Show Variables">
                <i class="fa fa-file-code"></i>
                </a>
            </span>
            <span class="block-item">
              <span class="block-top-item">
                  {{ .Name }}
              </span>
              <span class="block-bottom-item">
                  {{ .Description }}
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item dashboard-icons">
                <a href="{{ siteurl }}api/v1/repo/variant-delete/{{ .ID }}" title="Delete Variant" class="fa fa-trash"></a>
              <a href="{{ siteurl }}api/v1/repo/variant-build/{{ .ID }}" title="Build this variant" class="fa fa-tools"></a>
              <a href="{{ siteurl }}repo/variants/{{ $.repo.ID }}/clone/{{ .ID }}" title="Clone Variant" class="fa fa-docs"></a>
              <a href="{{ siteurl }}repo/variants/{{ $.repo.ID }}/edit/{{ .ID }}" title="Edit Variant" class="fa fa-chevron-right"></a>
            </span>
          </span>
          <div class="details hidden" id="detail-variant-{{.ID}}">
            <dl>
                {{ range .Variables }}
                <dt>MVO_VARIANT_{{ .Key }}</dt><dd>{{ .Value }}</dd>
                {{ end }}
            </dl>
          </div>
        </span>
  {{ else }}
    <div class="messages info">
      <span class="icon">
        <i class="fa fa-info-circle"></i>
      </span>
      <div>No Build Variants</div>
    </div>
  {{ end }}
  </div>
{{ end }}
