{{ define "title"}}Tests: {{.repo.Name}}{{ end }}

{{ define "breadcrumbs" }}
<li><a href="{{siteurl}}repo">Repositories</a></li>
<li><a href="{{siteurl}}repo/view/{{.repo.ID}}">{{ .repo.Name }}</a></li>
<li>Tests</li>
{{ end }}

{{ define "toolbar" }}
      <li>
          <a href="{{ siteurl }}repo/{{ .repo.ID }}"><i class="fa fa-hdd"></i>{{ .repo.Name }}</a>
      </li>
{{ end }}

{{ define "content" }}
  <h2>Tests: {{ .repo.Name }}</h2>

  <div id="search_results">
    {{ range .testruns }}
      <a class="block-link" href="{{ siteurl }}repo/tests/{{ $.repo.ID }}/run/{{ .ID }}">
        <div class="block-link">
          <span class="block">
            <span class="left-side">
              <span class="block-item block-icon">
                <i class="fa fa-list-alt test-state-{{ call $.render_result . }}" title="{{ call $.render_rate . }}"></i>
              </span>
              <span class="block-item">
                <span class="block-top-item commit-message">
                  {{ if eq .CommitMessage "" }}{{ $.repo.Name}}{{ else }}{{ .CommitMessage }}{{ end }}
                </span>
                <span class="block-bottom-item block-fa">
                  {{ .CommitSha }}
                </span>
              </span>
            </span>
            <span class="right-side">
              <span class="block-item">
                <span class="block-top-item block-fa">
                  <i class="fa fa-calendar-o"></i>{{ render_time .StartedAt }}
                </span>
                <span class="block-bottom-item block-fa">
                  <i class="fa fa-clock-o"></i>Success: {{ .NumSuccess}} / {{ .NumTotal }}
                </span>
              </span>
            </span>
            {{ if gt .NumTotal 0 }}
              <div class="block-color-line block-color-line-dashboard test-data" title="{{ .NumSuccess }} / {{ .NumTotal }} Tests succeeded" style="background: {{ call $.create_linear_gradient . }}"></div>
            {{ end }}
          </span>
        </div>
      </a>
    {{ else }}
    <div class="messages info">
      <span class="icon">
        <i class="fa fa-info-circle"></i>
      </span>
      <div>No Test Runs for this repository.</div>
    </div>
    {{ end }}
  </div>
{{ end }}
