{{define "title" }}Test {{ .test.Name }}{{end}}

{{ define "breadcrumbs" }}
<li><a href="{{siteurl}}repo">Repositories</a></li>
<li><a href="{{siteurl}}repo/view/{{.repo.ID}}">{{ .repo.Name }}</a></li>
<li><a href="{{siteurl}}repo/tests/{{.repo.ID}}">Tests</a></li>
<li><a href="{{siteurl}}repo/tests/{{ .repo.ID}}/run/{{ .run.ID}}">Test Run {{ .run.Name }}</a></li>
<li>{{ .test.Name }}</li>
{{ end }}

{{ define "toolbar" }}
      <li>
          <a href="{{ siteurl }}repo/{{ .repo.ID }}"><i class="fa fa-hdd"></i>{{ .repo.Name }}</a>
      </li>
      <li>
          <a href="{{ siteurl }}repo/tests/{{ .repo.ID }}/run/{{ .run.ID }}"><i class="fa fa-list-alt"></i>Test Run</a>
      </li>
{{ end }}

{{ define "content" }}
<h2>{{ .test.Name }}</h2>
  <dl class="attr_larger">
    <dt>Test-Suite</dt>
    <dd>{{ .test.SuiteName }}</dd>
    <dt>Result</dt>
    <dd>{{ .test.Result }}</dt>
    <dt>Commit-Author</dt>
    <dd>{{ .run.CommitAuthor }}</dd>
    <dt>Commit-Message</dt>
    <dd class="commit-message">{{ .run.CommitMessage }}</dd>
    {{ if not (eq .run.CommitUrl "") }}
    <dt>View Changes</dt>
    <dd><a href="{{ .run.CommitUrl }}" target="_blank" title="View Changes">View Changes</a></dd>
    {{ end }}
  </dl>

    <span class="block">
      <span class="left-side">
        <span class="block-item block-icon">
            <i class="fa fa-flag-circled test-state-{{ .test.Result }}" title="{{ .test.Result }}"></i>
        </span>
        <span class="block-item">
          <span class="block-top-item">
              {{ if not (eq .test.SuiteName "") }}{{ .test.SuiteName }} » {{end}}{{ .test.Name }}
          </span>
          <span class="block-bottom-item">
            {{ call $.render_duration .test.Duration }}
          </span>
        </span>
      </span>
    </span>

    <h3 id="test_log_h3">Test Log</h3>
    {{ if eq .test.Log "" }}
      <div class="messages error">
        <span class="icon">
          <i class="fa fa-exclamation-triangle"></i>
        </span>
        <div>Test log empty.</div>
      </div>
    {{ else }}
      <script src="{{ siteurl }}static/js/ansi_escape.js"></script>
      <pre class="test-log"><code>{{ .test.Log }}</code></pre>
      <script>
        var elem = document.getElementsByClassName ( "test-log" )[0];
        var test_log_original = elem.innerText;
        var header_elem = document.getElementById ( "test_log_h3" );
        var test_log_escaped = false;

        var test_log_ansi_escape = function ( text, elem, state ) {
            if ( state == false ) {
                elem.innerHTML = ansiToHTML ( elem.innerText );
                return true;
            } else {
                elem.innerText = test_log_original;
                return false;
            }
        }
        var test_log_colour_btn = function ( headerelem ) {
            var btn = document.createElement( "button" );
            btn.innerText = "Colourful Output";
            btn.classList = [ "toggle-button" ];
            btn.addEventListener ( "click", function ( o ) {
                test_log_ansi_escape( test_log_original, elem, this.classList.contains("toggled") );
                if (this.classList.contains ( "toggled" )) {
                    this.classList.remove("toggled");
                } else {
                    this.classList.add("toggled");
                }
            });
            headerelem.parentNode.insertBefore ( btn, headerelem );
        }

        test_log_colour_btn ( header_elem );
        test_log_ansi_escape( test_log_original, elem, true );
      </script>
    {{ end }}
{{ end }}
