{{ define "title" }}{{ if eq .mode "add" }}Add Repository{{ else if eq .mode "edit" }}Edit Repository{{else}}Clone Repository{{end}}{{end}}

{{ define "breadcrumbs" }}
<li><a href="{{siteurl}}repo">Repositories</a></li>
  {{ if eq .mode "add" }}
  <li>Add Repo</li>
  {{ else }}
  <li><a href="{{siteurl}}repo/view/{{.repo.ID}}">{{ .repo.Name }}</a></li>
    {{ if eq .mode "clone" }}
    <li>Clone Repo</li>
    {{ else }}
    <li>Edit Repo {{ .repo.Name }}</li>
    {{ end }}
  {{ end }}
{{end}}

{{ define "toolbar" }}
  {{ if eq .mode "add"}}
  <li>
    <a href="{{ siteurl }}repo">
      <i class="fa fa-chevron-left"></i>Repositories
    </a>
  </li>
  {{ else }}
  <li>
    <a href="{{ siteurl }}repo/view/{{ .repo.ID }}">
      <i class="fa fa-hdd"></i>{{ .repo.Name }}
    </a>
  </li>
  {{ if eq .mode "edit" }}
  <li>
    <a href="{{ siteurl }}repo/clone/{{ .repo.ID }}">
      <i class="fa fa-docs"></i>Clone
    </a>
  </li>
  {{ else }}
  <li>
    <a href="{{ siteurl }}repo/edit/{{ .repo.ID }}">
        <i class="fa fa-edit"></i>Edit
    </a>
  </li>
  {{ end }}
  {{ end }}
{{ end }}

{{ define "content" }}
<h2>{{ if eq .mode "add" }}Add Repository{{ else if eq .mode "edit" }}Edit Repository{{ else }}Clone Repository{{ end }}</h2>
  {{ render_error_list .errors }}
  <div class="infobox">
    You must ensure that the mvoCI server has read permission for
    the clone URL that you specify below. The URL is stored unencrypted
    in the database, thus you should <b>avoid</b> using the
    <code class="repo_code">https://username:password@host/name</code> format.
  </div>
  <form method="post" action="{{ if eq .mode "edit" }}{{ siteurl }}api/v1/repo/modify/{{ .repo.ID }}{{else}}{{ siteurl }}api/v1/repo/create{{end}}">
    <div class="field required">
      <label for="repo_name">Name</label>
      <input type="text" id="repo_name" name="repo_name" value="{{ if eq .mode "add" }}{{ else }}{{ .repo.Name }}{{ end}}" placeholder="Name"/>
    </div>
    <div class="field required">
        <label for="repo_clone_url">Clone URL</label>
        <div class="infobox">
          Copy or enter the URL you want to clone when building this repository. Currently public repositories work best, ssh-based URLs work, when you have copied the ssh-key into the .ssh directory of the User which runs mvoCI. You should <b>avoid</b> using the <code class="repo_code">https://username:password@host/name</code> format. It does not work cleanly with webhooks at the moment, and it exposes the password to any attacker, who might get access to the database of mvoCI.
        </div>
      <input type="text" id="repo_clone_url" name="repo_clone_url" value="{{ if eq .mode "add" }}{{ else }}{{ .repo.CloneUrl }}{{ end }}" placeholder="https://..." />
      <span id="repo_check_result" class="infobox" style="display: none;"></span>
    </div>
    <div class="field required">
      <label for="repo_default_branch">Default Build Branch</label>
      <div class="infobox">
        The default branch for building from the web-interface.
        This default setting is ignored, when the build is triggered
        via a webhook.
      </div>
      <input type="text" id="repo_default_branch" name="repo_default_branch" value="{{ if eq .mode "add" }}main{{ else }}{{ .repo.DefaultBranch }}{{end}}" placeholder="main" />
    </div>
    {{ if eq .mode "edit" }}
    <div class="field">
      <label for="repo_secret">Secret</label>
      <div class="infobox">
        The secret key that is sent by the Git server for
        authentication purpose. The default value is a randomly
        generated UUID that serves the purpose. You can also leave
        the field blank if the secret sent by the server is an empty string.
      </div>
      <input type="text" id="repo_secret" name="repo_secret" value="{{ .repo.Secret  }}" />
    </div>
    {{ end }}
    <div class="field">
      <label for="repo_push_build_script">Build script</label>
      <div class="infobox">
        <b>Bash</b> script to be executed, when a build is requested either by user or by a Push-Event through a Webhook.
        Use normal Bash-syntax. The scripts will be run with <i>set -e</i> prefixed, so they will stop whenever they encounter an error.
        After the script ran the complete directory will be zipped (without the <i>.git</i>-directory) so you may want to clean it from code or other unnecessary files.
        Arguments in the Webhook-URL are available via Environment variables, as are commit message, author and commit hashes as well as the event-type (release, push).
      </div>
      <textarea id="repo_pushbuild_script" name="repo_push_build_script" rows="5">{{ if eq .mode "add" }}{{ else }}{{ .repo.BuildScript }}{{ end }}</textarea>
    </div>
    <div class="field">
      <h4>Build Hooks</h4>
      <div class="infobox">
          Webhooks are callbacks to build your repository. On certain events, like when pushing commits to your VCS, it can send a webhook to mvoCI, when configured correctly. Disabling Webhooks for this repo will make mvoCI ignore all webhooks, that might be sent for this repository, including registering changes for nightly builds. Manual builds from the web interface or API are always enabled.
      </div>
      <label class="checkbox">
        <input type="checkbox" name="repo_webhook_enable" {{ if .repo.WebHookEnable }}checked{{ end }} />
        Enable Webhooks
      </label>
    </div>
    <div class="field">
      <h4>Nightly Builds</h4>
      <div class="infobox">
          Nightly builds defer the building of the repository to the night. Enabling nightly build and not When Changed will <b>additionally</b> build the repo at night with the <i>MVO_NIGHTLY</i> environment variable set. Enabling When Changed will defer all builds to the night. Webhooks at the day won't fire a build anymore, but register as a state-change. Manually triggered builds via web or API will still be build at the day and won't count towards the change-state. Disabling Nightly will also disable When Changed.
      </div>
      <label class="checkbox">
        <input type="checkbox" name="repo_nightly_enable" {{ if .repo.Nightly }}checked{{ end }} />
        Build Nightly
        </label>
      <label class="checkbox">
        <input type="checkbox" name="repo_nightly_when_changed_enable" {{ if .repo.NightlyWhenChanged }}checked{{ end }} />
        Build Nightly When Changed
      </label>
    </div>
    <div class="field">
      <h4>Misc Settings</h4>
      <label class="checkbox">
        <input type="checkbox" name="repo_keepbuilds_enable" {{ if .repo.KeepBuilds }}checked{{ end }} />
        Keep Artifacts (keep build archives)
      </label>
    </div>
    <div class="field">
      <label class="checkbox">
        <input type="checkbox" name="repo_public_enable" {{ if .repo.Public }}checked{{ end }} />
        Public Repository (visible without login)
      </label>
    </div>
    <div class="field">
      <label class="checkbox">
        <input type="checkbox" name="repo_email_enable" {{ if .repo.SendMail }}checked{{ end }} />
        Send Email (send Emails when builds are finished)
      </label>
    </div>
  {{ if eq .mode "add" }}{{else}}<input type="hidden" name="id" value="{{ .repo.ID }}" />{{ end }}
  <button class="btn-primary">{{ if eq .mode "add" }}Add Repository{{ else if eq .mode "edit" }}Update{{else}}Add Cloned Repository{{ end }}</button>
  </form>
{{ end }}
