{{ define "title" }}{{ if eq .mode "add" }}Add Variant{{ else if eq .mode "edit" }}Edit Variant{{else}}Clone Variant{{end}}{{end}}

{{ define "breadcrumbs" }}
<li><a href="{{siteurl}}repo">Repositories</a></li>
<li><a href="{{siteurl}}repo/view/{{.repo.ID}}">{{ .repo.Name }}</a></li>
<li><a href="{{siteurl}}repo/variants/{{.repo.ID}}">Build Variants</a></li>
<li>{{ if eq .mode "add" }}Add Variant{{ else }}
    {{ if eq .mode "edit" }}Edit Variant {{ .variant.Name }}{{ else }}
        Clone Variant {{ .variant.Name }}
    {{end }}
    {{end }}</li>
{{ end }}

{{ define "toolbar" }}
  <li>
    <a href="{{ siteurl }}repo/view/{{ .repo.ID }}">
      <i class="fa fa-hdd"></i>{{ .repo.Name }}
    </a>
  </li>
  <li>
    <a href="{{ siteurl }}repo/variants/{{ .repo.ID }}">
      <i class="fa fa-hdd"></i>Variants
    </a>
  </li>
  {{ if eq .mode "edit" }}
  <li>
      <a href="{{ siteurl }}repo/variants/{{ .repo.ID }}/clone/{{ .variant.ID }}">
      <i class="fa fa-docs"></i>Clone
    </a>
  </li>
  {{ else }}
  <li>
      <a href="{{ siteurl }}repo/variants/{{ .repo.ID }}/edit/{{.variant.ID}}">
        <i class="fa fa-edit"></i>Edit
    </a>
  </li>
  {{ end }}
{{ end }}

{{ define "content" }}
<h2>{{ if eq .mode "add" }}Add Variant{{ else if eq .mode "edit" }}Edit Variant <i>{{ .variant.Name }}</i>{{else}}Clone Variant <i>{{ .variant.Name }}</i>{{end}} for {{.repo.Name}}</h2>
  {{ render_error_list .errors }}

  <form method="post" action="{{ if eq .mode "edit" }}{{ siteurl }}api/v1/repo/variant-modify/{{ .variant.ID }}{{else}}{{ siteurl }}api/v1/repo/variant-create/{{ .repo.ID }}{{end}}">
    <div class="field required">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="{{ if eq .mode "add" }}{{ else }}{{ .variant.Name }}{{ end}}" placeholder="Name"/>
    </div>
    <div class="field required">
      <label for="description">Description</label>
      <input type="text" id="description" name="description" value="{{ if eq .mode "add" }}{{ else }}{{ .variant.Description }}{{ end}}" placeholder="Description"/>
    </div>
    <div class="field">
      <label for="variables">Environment Variables</label>
      <div class="infobox">
        Custom environment variables, that will be set when this variant is built. You can use bash-syntax (like <i>export VAR=VAL</i>). Multiline values are not supported.
      </div>
      <textarea id="variables" name="variables" rows="5">{{ if eq .mode "add" }}{{ else }}
{{ range .variant.Variables }}export {{.Key}}={{.Value}}
{{end}}
{{ end }}</textarea>
    </div>
  <button class="btn-primary">{{ if eq .mode "add" }}Add Variant{{ else if eq .mode "edit" }}Update{{else}}Clone Variant{{ end }}</button>
  </form>
{{ end }}
