{{ define "title" }}{{end}}

{{ define "breadcrumbs" }}
<li><a href="{{ siteurl }}users">Users</a></li>
<li>Group {{.group.Name}}</li>
{{ end }}

{{ define "toolbar" }}
  {{ if .user.Superuser }}
    <li>
      <a href="{{ siteurl }}user">
        <i class="fa fa-chevron-left"></i>Users
      </a>
    </li>
  {{ end }}
  {{ end }}

{{ define "content" }}
<h2>Members of Group {{ .group.Name }}</h2>
  {{ if eq .group.Name "Everyone" }}
    <div class="infobox">
        Everyone is a special group. Every user is member of this group and cannot leave and cannot be removed. Every new user will be member of Everyone.
    </div>
  {{ end }}

  {{ range .users }}
    <div class="block-link">
        <span class="block">
          <span class="left-side">
              <span class="block-item block-icon">
                  {{ if .Superuser }}
                  <i class="fa fa-user"></i>
                  {{ else }}
                  <i class="fa fa-user-secret"></i>
                  {{ end }}
            </span>
            <span class="block-item">
              <span class="block-top-item">
                  <a href="{{ siteurl }}user/{{ .ID }}">
                   {{ .Name }}
                </a>
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item dashboard-icons">
            {{ if not (eq $.group.Name "Everyone") }}
            <a href="{{ siteurl }}user/{{ .ID }}/group/leave/{{$.group.ID}}" title="Sack user {{ .Name}} from {{ $.group.Name }}" class="fa fa-trash"></a>
            {{ end }}
            </span>
          </span>
        </span>
      </div>
  {{ end }}
{{ end }}
