{{ define "title" }}Webhook Logs{{ end }}

{{ define "breadcrumbs" }}
  <li><a href="{{ siteurl }}admin/info">Admin</a></li>
  <li>Webhook Logs</li>
{{ end }}

{{ define "toolbar" }}
  <li>
    <a href="{{ siteurl }}admin/webhooklog">
      <i class="fa fa-clipboard"></i>Webhook-Logs
    </a>
  </li>
  <li>
    <a href="{{ siteurl }}admin/vacuum">
      <i class="fa fa-wrench-circled"></i>Vacuum
    </a>
  </li>
  <li>
    <a href="{{ siteurl }}admin/mail">
      <i class="fa fa-user"></i>Mail
    </a>
  </li>
  <li>
    <a href="{{ siteurl }}admin/auth">
      <i class="fa fa-user"></i>Auth
    </a>
  </li>
  <li>
    <a href="{{ siteurl }}admin/info">
      <i class="fa fa-info-circle"></i>Info
    </a>
  </li>
{{ end }}

{{ define "content" }}
<h2>Webhook Logs{{ if .repo }} for Repo {{ .repo.Name }}{{ end }}</h2>
    {{ range .webhooklogs }}
    <div class="block-link">
        <span class="block">
          <span class="left-side">
            <span class="block-item block-icon">
                {{ build_status .Status }}
            </span>
            <span class="block-item">
              <span class="block-top-item">
                  {{ if .Repository }}{{ .Repository.Name }}{{ end }}
              </span>
              <span class="block-bottom-item block-fa">
                {{ .ResponseStatus }}
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item">
              <span class="block-top-item block-fa">
                <i class="fa fa-calendar-o"></i>{{ render_time .CreatedAt }}
              </span>
            </span>
            <span class="block-item dashboard-icons">
                <a href="{{ siteurl }}admin/webhooklog/detail/{{ .ID }}" title="View Build" class="fa fa-chevron-right"></a>
            </span>
          </span>
        </span>
      </div>
    {{ else }}
    <div class="messages info">
      <span class="icon">
        <i class="fa fa-info-circle"></i>
      </span>
      <div>No Log entries found.</div>
    </div>
    {{ end }}
{{ end }}
