@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot');
  src: url('../fonts/fontello.eot') format('embedded-opentype'),
       url('../fonts/fontello.woff') format('woff2'),
       url('../fonts/fontello.woff') format('woff'),
       url('../fonts/fontello.ttf') format('truetype'),
       url('../fonts/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal .875rem/1 fontello;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.fa-group:before { content: '\e800'; } /* '' */
.fa-clipboard-1:before { content: '\e801'; } /* '' */
.fa-list-alt-1:before { content: '\e802'; } /* '' */
.fa-search:before { content: '\e803'; } /* '' */
.fa-folder:before { content: '\e804'; } /* '' */
.fa-th-list:before { content: '\e805'; } /* '' */
.fa-check-circle:before { content: '\e806'; } /* '' */
.fa-cog:before { content: '\e807'; } /* '' */
.fa-clock-o:before { content: '\e808'; } /* '' */
.fa-refresh:before { content: '\e809'; } /* '' */
.fa-info-circle:before { content: '\e80a'; } /* '' */
.fa-sign-out:before { content: '\e80b'; } /* '' */
.fa-chevron-left:before { content: '\e80c'; } /* '' */
.fa-download:before { content: '\e80d'; } /* '' */
.fa-plus:before { content: '\e80e'; } /* '' */
.fa-tag:before { content: '\e80f'; } /* '' */
.fa-times-circle:before { content: '\e810'; } /* '' */
.fa-question-circle:before { content: '\e811'; } /* '' */
.fa-user-secret-1:before { content: '\e812'; } /* '' */
.fa-wrench-1:before { content: '\e813'; } /* '' */
.fa-check:before { content: '\e814'; } /* '' */
.fa-times:before { content: '\e815'; } /* '' */
.fa-wrench-2:before { content: '\e816'; } /* '' */
.fa-user:before { content: '\e817'; } /* '' */
.fa-upload:before { content: '\e818'; } /* '' */
.fa-key:before { content: '\e819'; } /* '' */
.fa-pencil:before { content: '\e81a'; } /* '' */
.fa-file-o:before { content: '\e81b'; } /* '' */
.fa-check-1:before { content: '\e81c'; } /* '' */
.fa-wrench:before { content: '\e81d'; } /* '' */
.fa-down-open-big:before { content: '\e81e'; } /* '' */
.fa-left-open-big:before { content: '\e81f'; } /* '' */
.fa-right-open-big:before { content: '\e820'; } /* '' */
.fa-up-open-big:before { content: '\e821'; } /* '' */
.fa-clipboard:before { content: '\e822'; } /* '' */
.fa-list-alt:before { content: '\e823'; } /* '' */
.fa-edit:before { content: '\e824'; } /* '' */
.fa-hdd:before { content: '\e825'; } /* '' */
.fa-flag-circled:before { content: '\e826'; } /* '' */
.fa-wrench-circled:before { content: '\e827'; } /* '' */
.fa-cog-alt:before { content: '\e828'; } /* '' */
.fa-chevron-right:before { content: '\e829'; } /* '' */
.fa-tools:before { content: '\e82a'; } /* '' */
.fa-clipboard-2:before { content: '\e82b'; } /* '' */
.fa-down-open-big-1:before { content: '\e82c'; } /* '' */
.fa-left-open-big-1:before { content: '\e82d'; } /* '' */
.fa-right-open-big-1:before { content: '\e82e'; } /* '' */
.fa-up-open-big-1:before { content: '\e82f'; } /* '' */
.fa-edit-1:before { content: '\e830'; } /* '' */
.fa-hdd-1:before { content: '\e831'; } /* '' */
.fa-flag-circled-1:before { content: '\e832'; } /* '' */
.fa-wrench-circled-1:before { content: '\e833'; } /* '' */
.fa-cog-alt-1:before { content: '\e834'; } /* '' */
.fa-flag:before { content: '\e835'; } /* '' */
.fa-wait-spin:before { content: '\e836'; } /* '' */
.fa-marquee-1:before { content: '\e837'; } /* '' */
.fa-tasks-1:before { content: '\e838'; } /* '' */
.fa-docs-1:before { content: '\e839'; } /* '' */
.fa-list-bullet-1:before { content: '\e83a'; } /* '' */
.fa-circle-empty-1:before { content: '\e83b'; } /* '' */
.fa-rocket-1:before { content: '\e83c'; } /* '' */
.fa-bug-1:before { content: '\e83d'; } /* '' */
.fa-dot-circled-1:before { content: '\e83e'; } /* '' */
.fa-crown:before { content: '\e844'; } /* '' */
.fa-marquee:before { content: '\e847'; } /* '' */
.fa-check-empty:before { content: '\f096'; } /* '' */
.fa-tasks:before { content: '\f0ae'; } /* '' */
.fa-docs:before { content: '\f0c5'; } /* '' */
.fa-bars:before { content: '\f0c9'; } /* '' */
.fa-list-bullet:before { content: '\f0ca'; } /* '' */
.fa-mail-alt:before { content: '\f0e0'; } /* '' */
.fa-circle-empty:before { content: '\f10c'; } /* '' */
.fa-folder-o:before { content: '\f114'; } /* '' */
.fa-code-fork:before { content: '\f126'; } /* '' */
.fa-calendar-o:before { content: '\f133'; } /* '' */
.fa-rocket:before { content: '\f135'; } /* '' */
.fa-box:before { content: '\f187'; } /* '' */
.fa-bug:before { content: '\f188'; } /* '' */
.fa-dot-circled:before { content: '\f192'; } /* '' */
.fa-file-code:before { content: '\f1c9'; } /* '' */
.fa-share-alt:before { content: '\f1e0'; } /* '' */
.fa-trash:before { content: '\f1f8'; } /* '' */
.fa-user-secret:before { content: '\f21b'; } /* '' */
.fa-user-plus:before { content: '\f234'; } /* '' */
.fa-clone:before { content: '\f24d'; } /* '' */
.fa-calendar-check-o:before { content: '\f274'; } /* '' */
